.verifyprogress-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-start;
    align-items: center;
}

.verifyprogress-text {
    font-size: 18px !important;
    color: black !important;
    font-weight: 500 !important;
    position: relative;
    left: -10px;
}

/* Base styles for the button */
.verifyprogress_button {
    display: flex;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #8e54e9;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    width: 80%;
}

/* Hover state for the button */
.verifyprogress_button:hover {
    background-color: #7b43d5;
}

/* Focus state for accessibility */
.verifyprogress_button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(142, 84, 233, 0.5);
}

.verify-disabled {
    cursor: not-allowed;
    background-color: #727272;
    display: flex;
    padding: 15px 24px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    width: 90%;
}

/* tube anime */
@keyframes fillTube {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

@keyframes paintEffectTop {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(100% 0 0 0);
    }
}

.tube-ve {
    width: 7px;
    height: 70px;
    background-color: #e2e8f0;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    margin-left: 28px;
}

.tube-ve-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #805ad5;
    height: 0%;
    clip-path: inset(0 0 0 0);
    animation: fillTube 1s ease-in-out forwards, paintEffectTop 6000s ease-in-out forwards;
    border-radius: 1rem;
}

/* dot anime */
@keyframes fillDot {
    from {
        background-color: #e2e8f0;
    }
    to {
        background-color: #805ad5;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dot-ve {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e2e8f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    animation: fillDot 0.75s ease-in-out forwards;
    position: relative;
    left: 20px;
}

.dot-ve-bg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e2e8f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    position: relative;
    left: 20px;
}

.dot-ve::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 5px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: translate(-50%, -70%) rotate(-45deg);
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards 0.45s;
}